## Задание 5 - Подключение к БД

### Подключение библиотек

In [76]:
import os
import psycopg2
import psycopg2.extensions
import pandas as pd
import numpy as np

### Подключение к Postgres

In [77]:
params = {
    "host": 'localhost',
    "port": '5432',
    "user": 'postgres'
}
conn = psycopg2.connect(**params)

psycopg2.extensions.register_type(
    psycopg2.extensions.UNICODE,
    conn
)
conn.set_isolation_level(
    psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT
)
cursor = conn.cursor()

## Задание 6 - Реализация запросов Pandas

### Запрос 6.3 - Вывести список книг по количеству рецензий

In [78]:
books = pd.read_sql_query("select * from books;",conn)
titles = pd.read_sql_query("select * from titles;",conn)
titles_books = pd.merge(titles, books, left_on='id', right_on='title_id', how='inner')
titles_books[['title', 'reviews_count']].sort_values(['reviews_count'], ascending=True).head(10)

                                                  title  reviews_count
9607                                     Henry & Ramona            3.0
8701              Sin City: Una Dura Despedida, #1 de 3            4.0
8603                                       Edvard Munch           17.0
7860                          The 20th Century Art Book           24.0
4185                              MÅ±vÃ©szeti AnatÃ³mia           24.0
5863  The Three Little Kittens (A First Little Golde...           25.0
8342  The  Bedside, Bathtub and Armchair Companion t...           25.0
9119                   Pinocchio (A Little Golden Book)           25.0
9984             Tom Clancy's Net Force: Breaking Point           26.0
7861                    De toverspiegel van M.C. Escher           27.0

### Запрос 6.4 - Вывести средний рейтинг по пользователям, для пользователей, которые голосовали больше, чем за 10 фильмов и средний рейтинг у которых больше 2, но меньше 5

In [85]:
ratings = pd.read_sql_query("select * from ratings;",conn)
avg_count_ratings = ratings.groupby('user_id').agg({'rating': np.mean, 'user_id': np.size})
filter_ratings = avg_count_ratings.filter(lambda x: x['count_user']  > 10 and x['avg_rating'] > 2 and x['avg_rating'] < 4)

TypeError: 'function' object is not iterable

In [ ]:
.sort_values("avg_rating", ascending = true).head(10)