### Задание - 1

In [40]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']},
]


def exist(row):
    for k, v in row.items():
        return row if 'Россия' in v else None

list(filter(exist, geo_logs))

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

### Задание - 2

In [50]:
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}

uniq_ids=[ ];
for k, v in ids.items():
    for id in v:
        uniq_ids.append(id) if id not in uniq_ids else None
uniq_ids

[213, 15, 54, 119, 98, 35]

### Задание - 3

In [37]:
queries = [
'смотреть сериалы онлайн',
'новости спорта',
'афиша кино',
'курс доллара',
'сериалы этим летом',
'курс по питону',
'сериалы про спорт',
]

result = {}
one = len(queries) / 100

for q in queries:
    ct = len(q.split(" "))
    if ct in result:
        result[ct] = result[ct] + 1
    else:
        result[ct] = 1
result
# to persent     
for key, value in result.items():
    result[key] = value / one

result

{3: 4, 2: 3}

### Задание - 4

In [107]:
import operator
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

max(stats.items(), key=operator.itemgetter(1))[0]

'yandex'

### Задание - 5

In [34]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

users_data = {}
last_user = None
days = 1;

for row in stream:
    date, user, ct = row.split(",")
    if last_user is None:
        last_user = user
        
    if last_user != user:
        users_data[last_user] = users_data[last_user] / days
        users_data[user] = int(ct)
        last_user = user
        days = 1
        continue
    
    if user in users_data:
        users_data[user] = users_data[user] + int(ct)
        days += 1
    else:
        users_data[user] = int(ct)
    
    
users_data[last_user] = users_data[last_user] / days
users_data

{'user1': 5.25, 'user2': 7.0, 'user3': 7.0, 'user4': 10.2}

### Задание - 6

In [9]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]


d = {}
for row in stats:
    d["%s-%s" % (row[0], row[1])] = row[2]
    
def search_f(date, provider):
    key = "%s-%s" % (date, provider)
    if key in d:
        return d[key]
    return None

search_f("2018-01-01", "google")

25

### Задание - 7

In [12]:
test_key = "".join([str(x * 5) for x in range(20)])

a = [
    [x * 1 for x in range(20)] + [1],
    [x * 2 for x in range(20)] + [2],
    [x * 3 for x in range(20)] + [3],
    [x * 4 for x in range(20)] + [4],
    [x * 5 for x in range(20)] + [5],
    [x * 6 for x in range(20)] + [6],
    [x * 7 for x in range(20)] + [7],
    [x * 8 for x in range(20)] + [8],
]

search_db = [(lambda x: {"".join(map(lambda y: str(y),x[0:len(x) - 1])): x[-1]})(x) for x in a]
list(filter(lambda x: x if test_key in x.keys() else None, search_db))

[{'05101520253035404550556065707580859095': 5}]