In [2]:
import numpy as np
#Создайте numpy array с элементами от числа N до 0
# (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).
N = 10
arr = np.arange(N)
reversed_arr = arr[::-1]
reversed_arr

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [3]:
# Создайте диагональную матрицу с элементами от N до 0.
# Посчитайте сумму ее значений на диагонали.
N = 16
arr = np.arange(N)
reversed_arr = arr[::-1]
m = reversed_arr.reshape((4, 4))
s = sum(np.diag(m))
print("Sum: %s" % (s))
np.diag(np.diag(m))

Sum: 30

array([[15,  0,  0,  0],
       [ 0, 10,  0,  0],
       [ 0,  0,  5,  0],
       [ 0,  0,  0,  0]])

In [120]:
#Задание 3
# Скачайте с сайта https://grouplens.org/datasets/movielens/ 
# датасет любого размера. Определите какому фильму было 
# выставлено больше всего оценок 5.0.
movies_file = 'movies.dat'
rating_file = 'ratings.dat'

df_movies = pd.io.parsers.read_csv(movies_file, delimiter="::", engine='python', names=['id_movie', 'name', 'janr'])
df_ratings = pd.io.parsers.read_csv(rating_file, delimiter="::", engine='python', names=['UserID', 'MovieID', 'Rating', 'Timestamp'])

Movie = df_ratings[df_ratings.Rating == 5].groupby('MovieID').sum().sort_values('Rating', ascending=False).head(1)
movie_id = Movie.index.tolist()[0]
df_movies[df_movies.id_movie == movie_id]

      id_movie                    name          janr
2789      2858  American Beauty (1999)  Comedy|Drama

In [68]:
# Задание 4
# По данным файла power.csv посчитайте суммарное потребление стран
# Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года.
# Не учитывайте в расчетах отрицательные значения quantity.

import pandas as pd

df = pd.io.parsers.read_csv("power.csv", low_memory=False)
years = [y for y in range(2005, 2011)]
filtered = df[df.category.isin([4,12,21]) & df.country.isin(['Latvia', 'Lithuania', 'Estonia']) & df.quantity > 0]
filtered[filtered.year.isin(years)].groupby("country").sum()

             year  quantity  category
country
Estonia    162590   63440.0      1446
Latvia     142533   54844.0      1491
Lithuania  397510  122197.0      3042

In [1]:
# Задание 5
# Решите систему уравнений:
# 4x + 2y + z = 4
# x + 3y = 12
# 5y + 4z = -3

In [2]:
from numpy import linalg
import numpy as np

a = np.array([[4, 2, 1], [1, 3, 0], [0, 5, 4]])
b = np.array([4, 12, -3])
answers = linalg.solve(a, b)
[x, y, z] = answers

print("x = %f, y = %f, z = %f" % (x, y, z))

x = 0.466667, y = 3.844444, z = -5.555556