### Задание - 1

In [1]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]

# diagonal = []
# def get_diadgonal(data):
#     for i in range(len(data)):
#         for j in range(i+1, len(data)):
#             return diagonal [i, j]

def diadgonal(data):
    diagonal = [data[i][i] for i in range(len(data))]
    d_sum = sum(diagonal)
    return d_sum

In [2]:
diadgonal(data)

103

In [1]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]
key = 0;
summa = 0
for v in data:
    summa += v[key]
    key += 1
    
summa

103

### Задание - 2

In [172]:
data = [1, '5', 'abc', 20, '2']

#list(map (lambda x:  int(x), data))


# def convert_int(data):
#     sqr_data =[]
#     for x in data:
#         if type(x) == int:
#             sqr_data.append(x**2)
#         else: 
#             sqr_data.append(x)
#         return map(convert_int, sqr_data)

        
# data_int = [int(x) for x in data]

ValueError: invalid literal for int() with base 10: 'abc'

In [2]:
    data = [1, '5', 'abc', 20, '2']
    sqrt_data = []
    for v in data:
        try:
            v = int(v)
            sqrt_data.append(v*v)
        except ValueError:
            pass

    sqrt_data

[1, 25, 400, 4]

### Задание - 3

In [173]:
import requests

In [193]:
def exchange_rates():
    r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
    return r.json()['Valute']

In [194]:
exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 49.2181,
  'Previous': 49.2951},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 40.2491,
  'Previous': 40.458},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 89.6414,
  'Previous': 89.5026},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 14.0731,
  'Previous': 14.1228},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 31.9526,
  'Previous': 31.9019},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 40.8804,
  'Previous': 40.7753},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 16.2307,
  'Previous': 16.4925},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 24.7213,
  'Previous': 24.5128},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 87.003,
  'Previous': 87.4479},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.7213,
  'Previous': 10.691},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 68.2826,
  'Previous': 68.637},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 79.9521,
  'Previous': 79.7699},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 95.1541,
  'Previous': 95.2795},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 18.2632,
  'Previous': 18.3066},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 52.5412,
  'Previous': 52.7693},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 98.4609,
  'Previous': 98.6164},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 99.655,
  'Previous': 10.0225},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 40.7171,
  'Previous': 40.8432},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 83.08,
  'Previous': 83.0966},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 18.5818,
  'Previous': 18.4956},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 17.2261,
  'Previous': 17.1898},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 95.5813,
  'Previous': 95.8598},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 49.9142,
  'Previous': 50.0087},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 72.4676,
  'Previous': 72.843},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 11.2752,
  'Previous': 10.7769},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 19.5372,
  'Previous': 19.6386},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 86.8498,
  'Previous': 87.3005},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 24.2739,
  'Previous': 24.4129},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 31.3583,
  'Previous': 31.1838},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 75.9607,
  'Previous': 76.3584},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 70.8693,
  'Previous': 70.7525},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 46.169,
  'Previous': 46.213},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 61.0871,
  'Previous': 61.0644},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 61.0675,
  'Previous': 61.5772}}

In [4]:
import urllib.request, json 
url = 'https://www.cbr-xml-daily.ru/daily_json.js';
currencys = [];
with urllib.request.urlopen(url) as res:
    data = json.loads(res.read().decode())
    currencys = [(lambda x: {"name": x['Name'], "v": x['Value']})(key) for x,key in data['Valute'].items()]
        
    print(max( currencys, key=lambda x: x['v'] ))

{'name': 'Китайских юаней', 'v': 99.655}

### Задание - 4

In [14]:
import requests
class Rate:
    diff = False
    
    def init(self, format='value'):
        self.format = format
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def max(self):
        response = self.exchange_rates()
    
        currencys = [(lambda x: {"name": x['Name'], "v": x['Value']})(key) for x,key in response.items()]
        
        print(max( currencys, key=lambda x: x['v'] ))
    
    def eur(self, changed = False):
        """Возвращает курс евро на сегодня в формате self.format"""
        val = self.make_format('EUR')
        self.was_changed(val);
        
        if changed == True:
            return self.diff
        
        return val
    
    def usd(self, changed = False):
        """Возвращает курс доллара на сегодня в формате self.format"""
        val = self.make_format('USD')
        self.was_changed(val);
        
        if changed == True:
            return self.diff
        
        return val
    
    def was_changed(self, val):
        self.diff = True if val['Value'] != val['Previous'] else False
    
s = Rate()
s.max()

{'name': 'Китайских юаней', 'v': 99.655}

### Задание - 5

In [204]:
list_ = ['2018-01-01', 'yandex', 'cpc', 100]
def to_dict(v):
    if len(v) == 1:
        return v[0]
    
    key = v[0]
    v = v[1:len(v)]
    
    return {key:to_dict(v)}

to_dict(list_)

{'2018-01-01': {'yandex': {'cpc': 100}}}

### Задание - 6

In [7]:
def fib(n):
    fib1 = 1
    fib2 = 1

    i = 2 
    while i < n:
        fib_sum = fib2 + fib1
        fib1 = fib2
        fib2 = fib_sum
        i += 1

    return fib_sum

fib(10)

55