In [1]:
import pandas as pd
import numpy as np

In [2]:
df_adult  = pd.read_csv('adult.csv')
df_adult.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
df_adult.isnull().any()

age                False
workclass          False
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation         False
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country     False
income             False
dtype: bool

In [5]:
df_adult.isna().any()

age                False
workclass          False
fnlwgt             False
education          False
educational-num    False
marital-status     False
occupation         False
relationship       False
race               False
gender             False
capital-gain       False
capital-loss       False
hours-per-week     False
native-country     False
income             False
dtype: bool

In [6]:
df_adult[df_adult == '?'].count()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [ ]:
df = df_adult.apply(lambda x: x.str.contains('\?', case=False).any(), axis=1)
#print(df)

In [ ]:
df

In [257]:
df_adult_f = df_adult[df_adult.apply(lambda x: x.str.contains('\?', case=False).any(), axis=1) == 0]

In [ ]:
df_adult_f.info()

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
X = pd.get_dummies( df_adult_f, columns = ['workclass', 'education', 'marital-status','occupation','relationship','race','gender','native-country']) 

del X['income']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [262]:
le.fit( df_adult_f['income'])

LabelEncoder()

In [263]:
df_adult_f = le.transform( df_adult_f['income'] )
y = pd.Series(df_adult_f)

In [264]:
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [265]:
model = LogisticRegression()

In [266]:
model.fit( X, y )
predictions = model.predict_proba( X )

In [271]:
model.score(X, y)

0.7915395161646986